
# Enable Features
feature vpc
feature lacp
feature interface-vlan
feature hsrp
! 
# Interfaces
interface Loopback1
    ip address  {{loopback1}}/32
    no shutdown
!
vpc domain {{vpc_domain}}
    peer-keepalive destination {{ip_ha_dst}} source {{ip_address}} vrf management
    peer-gateway
    peer-switch
    ip arp synchronize

{%for interface in pc_interfaces %}
interface Ethernet {{interface['id']}}
    channel-group {{peer_link_pc}} mode active
    no shutdown
{% endfor%}

interface port-channel  {{peer_link_pc}}
    switchport
    switchport mode trunk 
    vpc peer-link
    no shutdown


{%for pc in port_channels %}
    {%for member in  pc['interface_members'] %}
interface Ethernet {{member['e_id']}}
    channel-group {{pc['id']}} mode active
    {% endfor %}
    no shutdown
!
interface port-channel {{pc['id']}}
    switchport
    switchport mode trunk
    vpc 1{{pc['id']}}
    no shutdown
{% endfor %}


{% for svi in interface_vlans %}
vlan {{svi['id']}}
#name {{svi['name']}}
interface vlan {{svi['id']}}
    ip address {{svi['local_ip']}}/{{svi['mask']}}  
    no shutdown  
    hsrp {{svi['hsrp_id']}}
        priority  {{svi['hsrp_id']}}
        ip {{svi['hsrp_vip']}}
        preempt
{% endfor %}
